beautifulsoup4==4.6.0
Flask==0.12.2
Flask-Cors==3.0.2
freeze==1.0.10
matplotlib==2.0.2
numpy==1.12.1
pandas==0.20.1
Pillow==4.1.1
pyTelegramBotAPI==3.1.0
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
requests==2.14.2
scipy==0.19.0
sympy==1.0