beautifulsoup4==4.6.0
Flask==0.12.2
Flask-Cors==3.0.2
freeze==1.0.10
matplotlib==2.0.2
numpy==1.12.1
numpydoc==0.6.0
packaging==16.8
pandas==0.20.1
pep8==1.7.0
Pillow==4.1.1
pipreqs==0.4.9
py==1.4.33
pyTelegramBotAPI==3.1.0
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
requests==2.14.2
scipy==0.19.0
six==1.10.0
sympy==1.0
telegram==0.0.1