beautifulsoup4==4.6.0
bitarray==0.8.1
Flask==0.12.2
Flask-Cors==3.0.2
freeze==1.0.10
idna==2.5
imagesize==0.7.1
ipykernel==4.6.1
ipython==5.3.0
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
MarkupSafe==0.23
matplotlib==2.0.2
mpmath==0.19
notebook==5.0.0
numexpr==2.6.2
numpy==1.12.1
numpydoc==0.6.0
packaging==16.8
pandas==0.20.1
partd==0.3.8
path.py==10.3.1
pathlib2==2.2.1
patsy==0.4.1
pep8==1.7.0
pickleshare==0.7.4
Pillow==4.1.1
pipreqs==0.4.9
ply==3.10
prompt-toolkit==1.0.14
psutil==5.2.2
py==1.4.33
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.5.0
Pygments==2.2.0
pylint==1.6.4
pyodbc==4.0.16
pyOpenSSL==17.0.0
pyparsing==2.1.4
pyTelegramBotAPI==3.1.0
pytest==3.0.7
python-dateutil==2.6.0
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
requests==2.14.2
scipy==0.19.0
six==1.10.0
sympy==1.0
telegram==0.0.1
unicodecsv==0.14.1